In [1]:
import pandas as pd
import matplotlib.pyplot as plt

data_raw = pd.read_csv('car_prices.csv')
print(data_raw.head())

   year   make                model        trim   body transmission  \
0  2015    Kia              Sorento          LX    SUV    automatic
1  2015    Kia              Sorento          LX    SUV    automatic
2  2014    BMW             3 Series  328i SULEV  Sedan    automatic
3  2015  Volvo                  S60          T5  Sedan    automatic
4  2014    BMW  6 Series Gran Coupe        650i  Sedan    automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    ca        5.0   16639.0  white    black
1  5xyktca69fg561319    ca        5.0    9393.0  white    beige
2  wba3c1c51ek116351    ca       45.0    1331.0   gray    black
3  yv1612tb4f1310987    ca       41.0   14282.0  white    black
4  wba6b2c57ed129731    ca       43.0    2641.0   gray    black

                                   seller      mmr  sellingprice  \
0                 kia motors america  inc  20500.0       21500.0
1                 kia motors america  inc  20800.0       21500.0
2  financial services remarketing (lease)  31900.0       30000.0
3                 volvo na rep/world omni  27500.0       27750.0
4  financial services remarketing (lease)  66000.0       67000.0

                                  saledate
0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [4]:
data_raw['day'] = data_raw['saledate'].str[:4]
print(data_raw.head())

   year   make                model        trim   body transmission  \
0  2015    Kia              Sorento          LX    SUV    automatic
1  2015    Kia              Sorento          LX    SUV    automatic
2  2014    BMW             3 Series  328i SULEV  Sedan    automatic
3  2015  Volvo                  S60          T5  Sedan    automatic
4  2014    BMW  6 Series Gran Coupe        650i  Sedan    automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    ca        5.0   16639.0  white    black
1  5xyktca69fg561319    ca        5.0    9393.0  white    beige
2  wba3c1c51ek116351    ca       45.0    1331.0   gray    black
3  yv1612tb4f1310987    ca       41.0   14282.0  white    black
4  wba6b2c57ed129731    ca       43.0    2641.0   gray    black

                                   seller      mmr  sellingprice  \
0                 kia motors america  inc  20500.0       21500.0
1                 kia motors america  inc  20800.0       21500.0
2  financial services remarketing (lease)  31900.0       30000.0
3                 volvo na rep/world omni  27500.0       27750.0
4  financial services remarketing (lease)  66000.0       67000.0

                                  saledate   day
0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)  Tue
1  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)  Tue
2  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)  Thu
3  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)  Thu
4  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)  Thu

In [7]:
data_raw['saledate_drop'] = data_raw['saledate'].str[3:]

In [8]:
data_raw['mmr_diff'] = data_raw['sellingprice'] - data_raw['mmr']
print(data_raw.head())

   year   make                model        trim   body transmission  \
0  2015    Kia              Sorento          LX    SUV    automatic
1  2015    Kia              Sorento          LX    SUV    automatic
2  2014    BMW             3 Series  328i SULEV  Sedan    automatic
3  2015  Volvo                  S60          T5  Sedan    automatic
4  2014    BMW  6 Series Gran Coupe        650i  Sedan    automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    ca        5.0   16639.0  white    black
1  5xyktca69fg561319    ca        5.0    9393.0  white    beige
2  wba3c1c51ek116351    ca       45.0    1331.0   gray    black
3  yv1612tb4f1310987    ca       41.0   14282.0  white    black
4  wba6b2c57ed129731    ca       43.0    2641.0   gray    black

                                   seller      mmr  sellingprice  \
0                 kia motors america  inc  20500.0       21500.0
1                 kia motors america  inc  20800.0       21500.0
2  financial services remarketing (lease)  31900.0       30000.0
3                 volvo na rep/world omni  27500.0       27750.0
4  financial services remarketing (lease)  66000.0       67000.0

                                  saledate   day  \
0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)  Tue
1  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)  Tue
2  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)  Thu
3  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)  Thu
4  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)  Thu

                          saledate_drop  mmr_diff
0   Dec 16 2014 12:30:00 GMT-0800 (PST)    1000.0
1   Dec 16 2014 12:30:00 GMT-0800 (PST)     700.0
2   Jan 15 2015 04:30:00 GMT-0800 (PST)   -1900.0
3   Jan 29 2015 04:30:00 GMT-0800 (PST)     250.0
4   Dec 18 2014 12:30:00 GMT-0800 (PST)    1000.0

In [12]:
data_raw['make'] = data_raw['make'].str.lower()
print(data_raw.head())

   year   make                model        trim   body transmission  \
0  2015    kia              Sorento          LX    SUV    automatic
1  2015    kia              Sorento          LX    SUV    automatic
2  2014    bmw             3 Series  328i SULEV  Sedan    automatic
3  2015  volvo                  S60          T5  Sedan    automatic
4  2014    bmw  6 Series Gran Coupe        650i  Sedan    automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    ca        5.0   16639.0  white    black
1  5xyktca69fg561319    ca        5.0    9393.0  white    beige
2  wba3c1c51ek116351    ca       45.0    1331.0   gray    black
3  yv1612tb4f1310987    ca       41.0   14282.0  white    black
4  wba6b2c57ed129731    ca       43.0    2641.0   gray    black

                                   seller      mmr  sellingprice  \
0                 kia motors america  inc  20500.0       21500.0
1                 kia motors america  inc  20800.0       21500.0
2  financial services remarketing (lease)  31900.0       30000.0
3                 volvo na rep/world omni  27500.0       27750.0
4  financial services remarketing (lease)  66000.0       67000.0

                                  saledate   day  \
0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)  Tue
1  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)  Tue
2  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)  Thu
3  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)  Thu
4  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)  Thu

                          saledate_drop  mmr_diff
0   Dec 16 2014 12:30:00 GMT-0800 (PST)    1000.0
1   Dec 16 2014 12:30:00 GMT-0800 (PST)     700.0
2   Jan 15 2015 04:30:00 GMT-0800 (PST)   -1900.0
3   Jan 29 2015 04:30:00 GMT-0800 (PST)     250.0
4   Dec 18 2014 12:30:00 GMT-0800 (PST)    1000.0

In [13]:
print(data_raw.make.unique())

['kia' 'bmw' 'volvo' 'nissan' 'chevrolet' 'audi' 'ford' 'hyundai' 'buick'
 'cadillac' 'acura' 'lexus' 'infiniti' 'jeep' 'mercedes-benz' 'mitsubishi'
 'mazda' 'mini' 'land rover' 'lincoln' 'jaguar' 'volkswagen' 'toyota'
 'subaru' 'scion' 'porsche' nan 'dodge' 'fiat' 'chrysler' 'ferrari'
 'honda' 'gmc' 'ram' 'smart' 'bentley' 'pontiac' 'saturn' 'maserati'
 'mercury' 'hummer' 'landrover' 'mercedes' 'gmc truck' 'saab' 'suzuki'
 'oldsmobile' 'isuzu' 'dodge tk' 'geo' 'rolls-royce' 'mazda tk'
 'hyundai tk' 'mercedes-b' 'vw' 'daewoo' 'chev truck' 'ford tk' 'plymouth'
 'ford truck' 'tesla' 'airstream' 'dot' 'aston martin' 'fisker'
 'lamborghini' 'lotus']

In [15]:
data_raw.make.replace({'land rover': 'landrover', 'mercedes-benz':'mercedes', 'mercedes-b':'mercedes', 
                       'ram':'dodge', 'gmc truck':'gmc', 'dodge tk':'dodge', 'mazda tk': 'mazda', 'hyundai tk': 'hyundai',
                      'chev truck':'chevrolet', 'ford tk':'ford', 'ford truck':'ford'}, inplace=True)
 
print(data_raw.make.unique())

['kia' 'bmw' 'volvo' 'nissan' 'chevrolet' 'audi' 'ford' 'hyundai' 'buick'
 'cadillac' 'acura' 'lexus' 'infiniti' 'jeep' 'mercedes' 'mitsubishi'
 'mazda' 'mini' 'landrover' 'lincoln' 'jaguar' 'volkswagen' 'toyota'
 'subaru' 'scion' 'porsche' nan 'dodge' 'fiat' 'chrysler' 'ferrari'
 'honda' 'gmc' 'smart' 'bentley' 'pontiac' 'saturn' 'maserati' 'mercury'
 'hummer' 'saab' 'suzuki' 'oldsmobile' 'isuzu' 'geo' 'rolls-royce' 'vw'
 'daewoo' 'plymouth' 'tesla' 'airstream' 'dot' 'aston martin' 'fisker'
 'lamborghini' 'lotus']

In [23]:
print(data_raw.body.unique())
data_raw['body'] = data_raw['body'].str.lower()
print(data_raw.body.unique())
print(len(data_raw.body.unique()))

['suv' 'sedan' 'convertible' 'coupe' 'wagon' 'hatchback' 'truck' 'g coupe'
 'g sedan' 'elantra coupe' 'genesis coupe' 'minivan' nan 'van' 'supercrew'
 'cts coupe' 'e-series van' 'g convertible' 'koup' 'cts-v coupe'
 'g37 convertible' 'q60 convertible' 'cts wagon' 'g37 coupe' 'q60 coupe'
 'beetle convertible' 'tsx sport wagon' 'promaster cargo van'
 'granturismo convertible' 'cts-v wagon' 'ram van' 'transit van'
 'navitgation']
['suv' 'sedan' 'convertible' 'coupe' 'wagon' 'hatchback' 'truck' 'g coupe'
 'g sedan' 'elantra coupe' 'genesis coupe' 'minivan' nan 'van' 'supercrew'
 'cts coupe' 'e-series van' 'g convertible' 'koup' 'cts-v coupe'
 'g37 convertible' 'q60 convertible' 'cts wagon' 'g37 coupe' 'q60 coupe'
 'beetle convertible' 'tsx sport wagon' 'promaster cargo van'
 'granturismo convertible' 'cts-v wagon' 'ram van' 'transit van'
 'navitgation']
33

In [21]:
data_raw.body.replace(regex=r'.*cab.*', value='truck', inplace=True)
print(data_raw.body.unique())

['suv' 'sedan' 'convertible' 'coupe' 'wagon' 'hatchback' 'truck' 'g coupe'
 'g sedan' 'elantra coupe' 'genesis coupe' 'minivan' nan 'van' 'supercrew'
 'cts coupe' 'e-series van' 'g convertible' 'koup' 'cts-v coupe'
 'g37 convertible' 'q60 convertible' 'cts wagon' 'g37 coupe' 'q60 coupe'
 'beetle convertible' 'tsx sport wagon' 'promaster cargo van'
 'granturismo convertible' 'cts-v wagon' 'ram van' 'transit van'
 'navitgation']

In [24]:
data_raw.body.replace(regex=r'.*oup.*', value='coupe', inplace=True)
data_raw.body.replace(regex=r'.*van.*', value='van', inplace=True)
data_raw.body.replace(regex=r'.*convertible.*', value='convertible', inplace=True)
data_raw.body.replace(regex=r'.*crew.*', value ='truck', inplace=True)
data_raw.body.replace(regex=r'.*wagon.*', value='wagon', inplace=True)

print(data_raw.body.unique())

['suv' 'sedan' 'convertible' 'coupe' 'wagon' 'hatchback' 'truck' 'g sedan'
 'van' nan 'navitgation']

In [25]:
print(data_raw[data_raw.body == 'navitgation'])

        year        make  model                    trim         body  \
408161  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
417835  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
421289  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
424161  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
427040  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
427043  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
434424  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
444501  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
453794  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
461597  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
461612  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
492484  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
497008  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
497011  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
499083  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
501455  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
505299  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
505306  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
520461  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
528996  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
529009  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
529013  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
529622  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
548784  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
551222  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation
554710  2015  volkswagen  Jetta  SE PZEV w/Connectivity  navitgation

       transmission        vin              state  condition  odometer  color  \
408161        Sedan  automatic  3vwd17aj4fm201708        NaN      46.0   4802
417835        Sedan  automatic  3vwd17aj2fm258506        NaN       1.0   9410
421289        Sedan  automatic  3vwd17aj3fm276741        NaN      46.0   1167
424161        Sedan  automatic  3vwd17aj2fm285365        NaN       1.0   2172
427040        Sedan  automatic  3vwd17aj0fm227318        NaN      41.0  14872
427043        Sedan  automatic  3vwd17aj6fm218641        NaN      49.0  12655
434424        Sedan  automatic  3vwd17aj7fm223475        NaN      46.0  15719
444501        Sedan  automatic  3vwd17aj5fm297123        NaN       2.0   6388
453794        Sedan  automatic  3vwd17aj5fm219943        NaN      44.0  16633
461597        Sedan  automatic  3vwd17aj9fm219766        NaN      44.0  11034
461612        Sedan        NaN  3vwd17aj3fm259017        NaN      46.0   2711
492484        sedan  automatic  3vwd17aj5fm206111        NaN       2.0   6864
497008        sedan  automatic  3vwd17aj5fm273601        NaN      28.0    339
497011        sedan  automatic  3vwd17aj5fm221322        NaN      48.0  18384
499083        sedan  automatic  3vwd17aj5fm268964        NaN       2.0   9887
501455        sedan  automatic  3vwd17aj6fm231972        NaN      38.0   9837
505299        sedan        NaN  3vwd17aj7fm222388        NaN      36.0  20379
505306        sedan  automatic  3vwd17aj7fm218440        NaN      42.0  20627
520461        sedan  automatic  3vwd17ajxfm315938        NaN       1.0    721
528996        sedan  automatic  3vwd17aj7fm229552        NaN      38.0   6158
529009        sedan        NaN  3vwd17aj8fm298895        NaN       2.0   2817
529013        sedan  automatic  3vwd17aj4fm236636        NaN       5.0   5705
529622        sedan  automatic  3vwd17aj5fm225953        NaN      41.0  18561
548784        sedan  automatic  3vwd17aj7fm326640        NaN       2.0   2846
551222        sedan        NaN  3vwd17aj8fm239622        NaN       2.0   9562
554710        sedan  automatic  3vwd17aj2fm261566        NaN      48.0   5001

       interior seller  mmr  sellingprice saledate   day saledate_drop  \
408161   silver   gray  NaN       13200.0    16500  1650            00
417835    white   gray  NaN       13300.0    10500  1050            00
421289     blue  black  NaN       13200.0    12700  1270            00
424161     gray  black  NaN       14050.0     8250  8250             0
427040     gray  black  NaN       13700.0    14300  1430            00
427043      red  black  NaN       13850.0    14500  1450            00
434424     blue  black  NaN       13650.0    13500  1350            00
444501    white  black  NaN       13850.0    10700  1070            00
453794   silver  black  NaN       13600.0    13600  1360            00
461597    black  black  NaN       13900.0    13000  1300            00
461612    white  black  NaN       14250.0    14000  1400            00
492484     gray  black  NaN       14000.0     9800  9800             0
497008    black  black  NaN       14300.0    12900  1290            00
497011   silver  black  NaN       13550.0    13500  1350            00
499083      red  black  NaN       13900.0     9900  9900             0
501455      red  black  NaN       13500.0    12900  1290            00
505299   silver  black  NaN       13600.0    13500  1350            00
505306    white  black  NaN       13600.0    13500  1350            00
520461     blue   gray  NaN       14100.0     8500  8500             0
528996    black  black  NaN       13650.0    13400  1340            00
529009      red  black  NaN       13750.0    12200  1220            00
529013        —  black  NaN       13400.0    15250  1525            50
529622    black  black  NaN       13200.0    13100  1310            00
548784     blue  black  NaN       13600.0     7500  7500             0
551222   silver  black  NaN       13200.0    12100  1210            00
554710     blue   gray  NaN       13400.0    13600  1360            00

        mmr_diff
408161       NaN
417835       NaN
421289       NaN
424161       NaN
427040       NaN
427043       NaN
434424       NaN
444501       NaN
453794       NaN
461597       NaN
461612       NaN
492484       NaN
497008       NaN
497011       NaN
499083       NaN
501455       NaN
505299       NaN
505306       NaN
520461       NaN
528996       NaN
529009       NaN
529013       NaN
529622       NaN
548784       NaN
551222       NaN
554710       NaN

In [26]:
data_raw.body.replace('g sedan', 'sedan', inplace=True)
data_raw.body.replace('navitgation', 'sedan', inplace=True)
print(data_raw.body.unique())

['suv' 'sedan' 'convertible' 'coupe' 'wagon' 'hatchback' 'truck' 'van' nan]

In [29]:
print(data_raw.day.unique())
day_values = data_raw.day.unique()
sus_days = day_values[7:]

['Tue ' 'Thu ' 'Wed ' 'Fri ' 'Mon ' 'Sat ' 'Sun ' nan '1650' '1050' '1270'
 '8250' '1430' '1450' '1350' '1070' '1360' '1300' '1400' '9800' '1290'
 '9900' '8500' '1340' '1220' '1525' '1310' '7500' '1210']

In [34]:
sus_data = data_raw[data_raw.day.isin(sus_days)]
print(sus_data)
print(data_raw.shape)

        year        make    model                    trim   body transmission  \
306447  2013     hyundai   Sonata                     GLS  sedan    automatic
406524  2013    chrysler      300                    Base  sedan    automatic
408161  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        Sedan
417835  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        Sedan
421289  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        Sedan
422358  2013     hyundai   Sonata                     GLS  sedan          NaN
424161  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        Sedan
427040  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        Sedan
427043  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        Sedan
429644  2013    chrysler      200                 Touring  sedan    automatic
429660  2013       dodge  Avenger                     SXT  sedan    automatic
429786  2013     hyundai   Accent                     GLS  sedan    automatic
431905  2013         kia     Soul                    Base  wagon    automatic
434424  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        Sedan
444501  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        Sedan
453794  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        Sedan
457035  2014     hyundai  Elantra                      SE  sedan    automatic
457803  2013       dodge  Charger                      SE  sedan    automatic
461597  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        Sedan
461612  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        Sedan
492484  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan
497008  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan
497011  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan
499083  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan
501455  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan
505299  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan
505306  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan
520461  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan
522495  2012        ford   Fusion                     SEL  sedan    automatic
528996  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan
529009  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan
529013  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan
529622  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan
537706  2012         kia    Forte                      LX  sedan    automatic
543129  2014     hyundai   Accent                     GLS  sedan    automatic
548784  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan
551222  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan
554710  2015  volkswagen    Jetta  SE PZEV w/Connectivity  sedan        sedan

                      vin              state  condition  odometer   color  \
306447  5npeb4ac6dh687932                 il       19.0   37254.0    gray
406524  2c3ccaag9dh723146                 il       27.0   44208.0  silver
408161          automatic  3vwd17aj4fm201708        NaN      46.0    4802
417835          automatic  3vwd17aj2fm258506        NaN       1.0    9410
421289          automatic  3vwd17aj3fm276741        NaN      46.0    1167
422358  5npeb4ac3dh735368                 az       28.0   44299.0    blue
424161          automatic  3vwd17aj2fm285365        NaN       1.0    2172
427040          automatic  3vwd17aj0fm227318        NaN      41.0   14872
427043          automatic  3vwd17aj6fm218641        NaN      49.0   12655
429644  1c3ccbbb9dn718531                 il       25.0   47344.0   white
429660  1c3cdzcg5dn741076                 il       34.0   44525.0    gray
429786  kmhct4ae7du450468                 il        3.0   43135.0  silver
431905  kndjt2a5xd7765280                 va       19.0   29465.0  silver
434424          automatic  3vwd17aj7fm223475        NaN      46.0   15719
444501          automatic  3vwd17aj5fm297123        NaN       2.0    6388
453794          automatic  3vwd17aj5fm219943        NaN      44.0   16633
457035  5npdh4ae3eh504144                 il       19.0   20775.0   white
457803  2c3cdxbg6dh688757                 il       19.0   45355.0   white
461597          automatic  3vwd17aj9fm219766        NaN      44.0   11034
461612                NaN  3vwd17aj3fm259017        NaN      46.0    2711
492484          automatic  3vwd17aj5fm206111        NaN       2.0    6864
497008          automatic  3vwd17aj5fm273601        NaN      28.0     339
497011          automatic  3vwd17aj5fm221322        NaN      48.0   18384
499083          automatic  3vwd17aj5fm268964        NaN       2.0    9887
501455          automatic  3vwd17aj6fm231972        NaN      38.0    9837
505299                NaN  3vwd17aj7fm222388        NaN      36.0   20379
505306          automatic  3vwd17aj7fm218440        NaN      42.0   20627
520461          automatic  3vwd17ajxfm315938        NaN       1.0     721
522495  3fahp0jg5cr241590                 va       26.0   51648.0   black
528996          automatic  3vwd17aj7fm229552        NaN      38.0    6158
529009                NaN  3vwd17aj8fm298895        NaN       2.0    2817
529013          automatic  3vwd17aj4fm236636        NaN       5.0    5705
529622          automatic  3vwd17aj5fm225953        NaN      41.0   18561
537706  knaft4a22c5559983                 md       25.0   30927.0  silver
543129  kmhct4ae0eu650738                 il       19.0   26379.0    gray
548784          automatic  3vwd17aj7fm326640        NaN       2.0    2846
551222                NaN  3vwd17aj8fm239622        NaN       2.0    9562
554710          automatic  3vwd17aj2fm261566        NaN      48.0    5001

       interior   seller  mmr  sellingprice saledate   day saledate_drop  \
306447     gray  kfl llc  NaN           NaN      NaN   NaN           NaN
406524    black  kfl llc  NaN           NaN      NaN   NaN           NaN
408161   silver     gray  NaN       13200.0    16500  1650            00
417835    white     gray  NaN       13300.0    10500  1050            00
421289     blue    black  NaN       13200.0    12700  1270            00
422358     gray  kfl llc  NaN           NaN      NaN   NaN           NaN
424161     gray    black  NaN       14050.0     8250  8250             0
427040     gray    black  NaN       13700.0    14300  1430            00
427043      red    black  NaN       13850.0    14500  1450            00
429644    black  kfl llc  NaN           NaN      NaN   NaN           NaN
429660    black  kfl llc  NaN           NaN      NaN   NaN           NaN
429786     gray  kfl llc  NaN           NaN      NaN   NaN           NaN
431905    black  kfl llc  NaN           NaN      NaN   NaN           NaN
434424     blue    black  NaN       13650.0    13500  1350            00
444501    white    black  NaN       13850.0    10700  1070            00
453794   silver    black  NaN       13600.0    13600  1360            00
457035        —  kfl llc  NaN           NaN      NaN   NaN           NaN
457803    black  kfl llc  NaN           NaN      NaN   NaN           NaN
461597    black    black  NaN       13900.0    13000  1300            00
461612    white    black  NaN       14250.0    14000  1400            00
492484     gray    black  NaN       14000.0     9800  9800             0
497008    black    black  NaN       14300.0    12900  1290            00
497011   silver    black  NaN       13550.0    13500  1350            00
499083      red    black  NaN       13900.0     9900  9900             0
501455      red    black  NaN       13500.0    12900  1290            00
505299   silver    black  NaN       13600.0    13500  1350            00
505306    white    black  NaN       13600.0    13500  1350            00
520461     blue     gray  NaN       14100.0     8500  8500             0
522495     gray  kfl llc  NaN           NaN      NaN   NaN           NaN
528996    black    black  NaN       13650.0    13400  1340            00
529009      red    black  NaN       13750.0    12200  1220            00
529013        —    black  NaN       13400.0    15250  1525            50
529622    black    black  NaN       13200.0    13100  1310            00
537706     gray  kfl llc  NaN           NaN      NaN   NaN           NaN
543129     gray  kfl llc  NaN           NaN      NaN   NaN           NaN
548784     blue    black  NaN       13600.0     7500  7500             0
551222   silver    black  NaN       13200.0    12100  1210            00
554710     blue     gray  NaN       13400.0    13600  1360            00

        mmr_diff
306447       NaN
406524       NaN
408161       NaN
417835       NaN
421289       NaN
422358       NaN
424161       NaN
427040       NaN
427043       NaN
429644       NaN
429660       NaN
429786       NaN
431905       NaN
434424       NaN
444501       NaN
453794       NaN
457035       NaN
457803       NaN
461597       NaN
461612       NaN
492484       NaN
497008       NaN
497011       NaN
499083       NaN
501455       NaN
505299       NaN
505306       NaN
520461       NaN
522495       NaN
528996       NaN
529009       NaN
529013       NaN
529622       NaN
537706       NaN
543129       NaN
548784       NaN
551222       NaN
554710       NaN
(558837, 19)

In [40]:
# 38 null values out of half a million, data entry errors mostly around the volkswagon jetta. 
# dropping null values for ease of use with a half million rows i think i can drop 38
print(data_raw.mmr.count())
print(data_raw.shape)
clean_data =data_raw.dropna(subset='mmr')

558799
(558837, 19)

In [41]:
print(clean_data.shape)
print(clean_data.mmr.count())

(558799, 19)
558799

In [45]:
print(clean_data.state.unique())
print(len(clean_data.state.unique()))

['ca' 'tx' 'pa' 'mn' 'az' 'wi' 'tn' 'md' 'fl' 'ne' 'nj' 'nv' 'oh' 'mi'
 'ga' 'va' 'sc' 'nc' 'in' 'il' 'co' 'ut' 'mo' 'ny' 'ma' 'pr' 'or' 'la'
 'wa' 'hi' 'qc' 'ab' 'on' 'ok' 'ms' 'nm' 'al' 'ns']
38

In [42]:
clean_data.to_csv('clean_vehicle_data.csv')